.mainPage {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    background-color: rgba(0, 0, 0, 0.7);

    padding: 30px 20px 0 20px;
    border-radius: 8px;
    height: 350px;
    display: flex;
    align-items: center;
    width: 400px;
    align-items: center;
    justify-content: center;
  }
  .labelClr {
    > div {
      > div {
        text-align: left !important;
        > label {
          color: var(--white) !important;
        }
      }
    }
  }
  .roleSelect {
    width: 100% !important;
  }
  .sbmtBtn {
    margin-top: 20px;
    background-color: var(--white) !important;

    color: var(--black) !important;
    &:hover {
      background-color: var(--white);
      color: black;
    }
  }
}
